/* Общие стили для header */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

/* Цвет текста для заголовка */
.header h1 {
    font-size: 36px;
    text-align: left;
    margin: 0;
    white-space: nowrap;
    color: #333; /* Цвет текста для всего header */
}

/* Цвет текста для логотипа (если он текстовый) */
.header img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}