/* Общие стили для header */
.header {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: flex-start; /* Выравнивание по левому краю */
    padding: 5px 10px; /* Минимальные отступы */
    background-color: #033;
    border-bottom: 2px solid #ddd;
    overflow: visible; /* Разрешаем элементам выходить за пределы плашки */
}

/* Цвет текста для заголовка */
.header h1 {
    font-size: 40px;
    text-align: left;
    margin: 0;
    white-space: nowrap;
    color: #e8e9e2;
    line-height: 1; /* Уменьшаем высоту строки */
}

.header img {
    max-width: 90px; /* Размер картинки остается прежним */
    margin-top: 5px; /* Идеально настроено */
    margin-left: 90px; 
    margin-right: 90px;
}